[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RRF"]
	path = RRF
	url = https://github.com/cran/RRF
[submodule "inTrees"]
	path = inTrees
	url = https://github.com/softwaredeng/intrees
	subdir = inTrees
